.category-item-1 .icon {
    background-image: url('../img/food/broccoli-03.png');
}

.category-item-2 .icon {
    background-image: url('../img/food/broccoli-29.png');
}

.category-item-3 .icon {
    background-image: url('../img/food/broccoli-13.png');
}

.category-item-4 .icon {
    background-image: url('../img/food/broccoli-17.png');
}

.category-item-5 .icon {
    background-image: url('../img/food/broccoli-06.png');
}

.category-item-6 .icon {
    background-image: url('../img/food/broccoli-14.png');
}

.category-item-7 .icon {
    background-image: url('../img/food/broccoli-12.png');
}

.category-item-8 .icon {
    background-image: url('../img/food/broccoli-18.png');
}

.category-item-9 .icon {
    background-image: url('../img/food/broccoli-05.png');
}

.category-item-10 .icon {
    background-image: url('../img/food/broccoli-07.png');
}

.category-item-11 .icon {
    background-image: url('../img/food/broccoli-11.png');
}

.category-item-12 .icon {
    background-image: url('../img/food/broccoli-20.png');
}

.category-item-13 .icon {
    background-image: url('../img/food/broccoli-15.png');
}

.category-item-14 .icon {
    background-image: url('../img/food/broccoli-10.png');
}

.category-item-15 .icon {
    background-image: url('../img/food/broccoli-22.png');
}

.category-item-16 .icon {
    background-image: url('../img/food/broccoli-02.png');
}

.category-item-17 .icon {
    background-image: url('../img/food/broccoli-08.png');
}

.category-item-18 .icon {
    background-image: url('../img/food/broccoli-09.png');
}

.category-item-19 .icon {
    background-image: url('../img/food/broccoli-19.png');
}

.category-item-20 .icon {
    background-image: url('../img/food/broccoli-26.png');
}

.category-item-21 .icon {
    background-image: url('../img/food/broccoli-16.png');
}

.category-item-22 .icon {
    background-image: url('../img/food/broccoli-25.png');
}

.category-item-23 .icon {
    background-image: url('../img/food/broccoli-24.png');
}

.category-item-24 .icon {
    background-image: url('../img/food/broccoli-21.png');
}

.category-item-25 .icon {
    background-image: url('../img/food/broccoli-28.png');
}

.category-item-26 .icon {
    background-image: url('../img/food/broccoli-04.png');
}

.category-item-27 .icon {
    background-image: url('../img/food/broccoli-27.png');
}

.category-item-28 .icon {
    background-image: url('../img/food/vegetables31.png');
}

.category-item-29 .icon {
    background-image: url('../img/food/broccoli-23.png');
}
.category-item-30 .icon {
    background-image: url('../img/food/question-01.png');
}
.category-item-31 .icon {
    background-image: url('../img/food/broccoli-30.png');
}

.category-item-serving .icon {
    background-image: url('../img/finish-05.png');
}

.category-item-sanitation .icon {
    background-image: url('../img/finish-06.png');
}


/******background********/
.active-1 .background {
    background-color: #BE202F !important;
}

.active-2 .background {
    background-color: #555F90 !important;
}

.active-3 .background {
    background-color: #14a651 !important;
}

.active-4 .background {
    background-color: #128a4a !important;
}

.active-5 .background {
    background-color: #369FD8 !important;
}

.active-6 .background {
    background-color: #93594b !important;
}

.active-7 .background {
    background-color: #EED11B !important;
}

.active-8 .background {
    background-color: #e64926 !important;
}

.active-9 .background {
    background-color: #14A651 !important;
}

.active-10 .background {
    background-color: #20A6A5 !important;
}

.active-11 .background {
    background-color: #93594B !important;
}

.active-12 .background {
    background-color: #E6A531 !important;
}

.active-13 .background {
    background-color: #E54825 !important;
}

.active-14 .background {
    background-color: #EB4D5B !important;
}

.active-15 .background {
    background-color: #eed11b !important;
}

.active-16 .background {
    background-color: #e6a531 !important;
}

.active-17 .background {
    background-color: #128a4a !important;
}

.active-18 .background {
    background-color: #369fd8 !important;
}

.active-19 .background {
    background-color: #20a6a5 !important;
}

.active-20 .background {
    background-color: #e64926 !important;
}

.active-21 .background {
    background-color: #eed11b !important;
}

.active-22 .background {
    background-color: #e6a531 !important;
}

.active-23 .background {
    background-color: #128a4a !important;
}

.active-24 .background {
    background-color: #555f90 !important;
}

.active-25 .background {
    background-color: #e64926 !important;
}

.active-26 .background {
    background-color: #93594b !important;
}

.active-27 .background {
    background-color: #14a651 !important;
}

.active-28 .background {
    background-color: #128a4a  !important;
}

.active-29 .background {
    background-color: #555f90 !important;
}
.active-30 .background{
      background-color: #20A6A5  !important;
}

.active-31 .background{
      background-color: #12a5a4  !important;
}


/*****font color****/
.active-1 .color {
    color: #BE202F;
}

.active-2 .color {
    color: #555F90;
}

.active-3 .color {
    color: #14a651;
}

.active-4 .color {
    color: #128a4a;
}

.active-5 .color {
    color: #369FD8;
}

.active-6 .color {
    color: #93594b;
}

.active-7 .color {
    color: #EED11B;
}

.active-8 .color {
    color: #e64926;
}

.active-9 .color {
    color: #14A651;
}

.active-10 .color {
    color: #20A6A5;
}

.active-11 .color {
    color: #93594B;
}

.active-12 .color {
    color: #E6A531;
}

.active-13 .color {
    color: #E54825;
}

.active-14 .color {
    color: #EB4D5B;
}

.active-15 .color {
    color: #eed11b;
}

.active-16 .color {
    color: #e6a531;
}

.active-17 .color {
    color: #128a4a;
}

.active-18 .color {
    color: #369fd8;
}

.active-19 .color {
    color: #20a6a5;
}

.active-20 .color {
    color: #e64926;
}

.active-21 .color {
    color: #eed11b;
}

.active-22 .color {
    color: #e6a531;
}

.active-23 .color {
    color: #128a4a;
}

.active-24 .color {
    color: #555f90;
}

.active-25 .color {
    color: #e64926;
}

.active-26 .color {
    color: #93594b;
}

.active-27 .color {
    color: #14a651;
}

.active-28 .color {
    color: #128a4a ;
}

.active-29 .color {
    color: #555f90;
}
.active-30 .color {
    color: #20A6A5 ;
}
.active-31 .color {
    color: #12a5a4 ;
}

/*****arrow color****/
.active-1 .pull-right {
    color: #BE202F;
    background-image: url('../img/arrow/active-1-arrow.svg');
}

.active-2 .pull-right {
    color: #555F90;
    background-image: url('../img/arrow/active-2-arrow.svg');
}

.active-3 .pull-right {
    color: #14a651;
    background-image: url('../img/arrow/active-3-arrow.svg');
}

.active-4 .pull-right {
    color: #128a4a;
    background-image: url('../img/arrow/active-4-arrow.svg');
}

.active-5 .pull-right {
    color: #369FD8;
    background-image: url('../img/arrow/active-5-arrow.svg');
}

.active-6 .pull-right {
    color: #93594b;
    background-image: url('../img/arrow/active-6-arrow.svg');
}

.active-7 .pull-right {
    color: #EED11B;
    background-image: url('../img/arrow/active-7-arrow.svg');
}

.active-8 .pull-right {
    color: #e64926;
    background-image: url('../img/arrow/active-8-arrow.svg');
}

.active-9 .pull-right {
    color: #14A651;
    background-image: url('../img/arrow/active-9-arrow.svg');
}

.active-10 .pull-right {
    color: #20A6A5;
    background-image: url('../img/arrow/active-10-arrow.svg');
}

.active-11 .pull-right {
    color: #93594B;
    background-image: url('../img/arrow/active-11-arrow.svg');
}

.active-12 .pull-right {
    color: #E6A531;
    background-image: url('../img/arrow/active-12-arrow.svg');
}

.active-13 .pull-right {
    color: #E54825;
    background-image: url('../img/arrow/active-13-arrow.svg');
}

.active-14 .pull-right {
    color: #EB4D5B;
    background-image: url('../img/arrow/active-14-arrow.svg');
}

.active-15 .pull-right {
    color: #eed11b;
    background-image: url('../img/arrow/active-15-arrow.svg');
}

.active-16 .pull-right {
    color: #e6a531;
    background-image: url('../img/arrow/active-16-arrow.svg');
}

.active-17 .pull-right {
    color: #128a4a;
    background-image: url('../img/arrow/active-17-arrow.svg');
}

.active-18 .pull-right {
    color: #369fd8;
    background-image: url('../img/arrow/active-18-arrow.svg');
}

.active-19 .pull-right {
    color: #20a6a5;
    background-image: url('../img/arrow/active-19-arrow.svg');
}

.active-20 .pull-right {
    color: #e64926;
    background-image: url('../img/arrow/active-20-arrow.svg');
}

.active-21 .pull-right {
    color: #eed11b;
    background-image: url('../img/arrow/active-21-arrow.svg');
}

.active-22 .pull-right {
    color: #e6a531;
    background-image: url('../img/arrow/active-22-arrow.svg');
}

.active-23 .pull-right {
    color: #128a4a;
    background-image: url('../img/arrow/active-23-arrow.svg');
}

.active-24 .pull-right {
    color: #555f90;
    background-image: url('../img/arrow/active-24-arrow.svg');
}

.active-25 .pull-right {
    color: #e64926;
    background-image: url('../img/arrow/active-25-arrow.svg');
}

.active-26 .pull-right {
    color: #93594b;
    background-image: url('../img/arrow/active-26-arrow.svg');
}

.active-27 .pull-right {
    color: #14a651;
    background-image: url('../img/arrow/active-27-arrow.svg');
}

.active-28 .pull-right {
    color: #128a4a ;
    background-image: url('../img/arrow/active-28-arrow.svg');
}

.active-29 .pull-right {
    color: #555f90;
    background-image: url('../img/arrow/active-29-arrow.svg');
}
.active-30 .pull-right {
    color: #20A6A5;
    background-image: url('../img/arrow/active-30-arrow.svg');
}
.active-31 .pull-right {
    color: #12a5a4;
    background-image: url('../img/arrow/active-31-arrow.svg');
}

/*****pencill color****/
.active-1 .comment-icon {
    color: #BE202F;
    background-image: url('../img/pencil/active-1-pencil.svg');
}

.active-2 .comment-icon {
    color: #555F90;
    background-image: url('../img/pencil/active-2-pencil.svg');
}

.active-3 .comment-icon {
    color: #14a651;
    background-image: url('../img/pencil/active-3-pencil.svg');
}

.active-4 .comment-icon {
    color: #128a4a;
    background-image: url('../img/pencil/active-4-pencil.svg');
}

.active-5 .comment-icon {           
    color: #369FD8;               
    background-image: url('../img/pencil/active-5-pencil.svg');
}

.active-6 .comment-icon {
    color: #93594b;
    background-image: url('../img/pencil/active-6-pencil.svg');
}

.active-7 .comment-icon {
    color: #EED11B;
    background-image: url('../img/pencil/active-7-pencil.svg');
}

.active-8 .comment-icon {
    color: #e64926;
    background-image: url('../img/pencil/active-8-pencil.svg');
}

.active-9 .comment-icon {
    color: #14A651;
    background-image: url('../img/pencil/active-9-pencil.svg');
}

.active-10 .comment-icon {
    color: #20A6A5;
    background-image: url('../img/pencil/active-10-pencil.svg');
}

.active-11 .comment-icon {
    color: #93594B;
    background-image: url('../img/pencil/active-11-pencil.svg');
}

.active-12 .comment-icon {
    color: #E6A531;
    background-image: url('../img/pencil/active-12-pencil.svg');
}

.active-13 .comment-icon {
    color: #E54825;
    background-image: url('../img/pencil/active-13-pencil.svg');
}

.active-14 .comment-icon {
    color: #EB4D5B;
    background-image: url('../img/pencil/active-14-pencil.svg');
}

.active-15 .comment-icon {
    color: #eed11b;
    background-image: url('../img/pencil/active-15-pencil.svg');
}

.active-16 .comment-icon {
    color: #e6a531;
    background-image: url('../img/pencil/active-16-pencil.svg');
}

.active-17 .comment-icon {
    color: #128a4a;
    background-image: url('../img/pencil/active-17-pencil.svg');
}

.active-18 .comment-icon {
    color: #369fd8;
    background-image: url('../img/pencil/active-18-pencil.svg');
}

.active-19 .comment-icon {
    color: #20a6a5;
    background-image: url('../img/pencil/active-19-pencil.svg');
}

.active-20 .comment-icon {
    color: #e64926;
    background-image: url('../img/pencil/active-20-pencil.svg');
}

.active-21 .comment-icon {
    color: #eed11b;
    background-image: url('../img/pencil/active-21-pencil.svg');
}

.active-22 .comment-icon {
    color: #e6a531;
    background-image: url('../img/pencil/active-22-pencil.svg');
}

.active-23 .comment-icon {
    color: #128a4a;
    background-image: url('../img/pencil/active-23-pencil.svg');
}

.active-24 .comment-icon {
    color: #555f90;
    background-image: url('../img/pencil/active-24-pencil.svg');
}

.active-25 .comment-icon {
    color: #e64926;
    background-image: url('../img/pencil/active-25-pencil.svg');
}

.active-26 .comment-icon {
    color: #93594b;
    background-image: url('../img/pencil/active-26-pencil.svg');
}

.active-27 .comment-icon {
    color: #14a651;
    background-image: url('../img/pencil/active-27-pencil.svg');
}

.active-28 .comment-icon {
    color: #128a4a ;
    background-image: url('../img/pencil/active-28-pencil.svg');
}

.active-29 .comment-icon {
    color: #555f90;
    background-image: url('../img/pencil/active-29-pencil.svg');
}
.active-30 .comment-icon {
    color: #20A6A5;
    background-image: url('../img/pencil/active-30-pencil.svg');
}
.active-31 .comment-icon {
    color: #12a5a4;
    background-image: url('../img/pencil/active-31-pencil.svg');
}

/******full******/
.active-1 .comment-icon.full {
    color: #BE202F;
    background-image: url('../img/pencil-full/active-1-pencil.svg');
}

.active-2 .comment-icon.full {
    color: #555F90;
    background-image: url('../img/pencil-full/active-2-pencil.svg');
}

.active-3 .comment-icon.full {
    color: #14a651;
    background-image: url('../img/pencil-full/active-3-pencil.svg');
}
.active-4 .comment-icon.full {
    color: #128a4a;
    background-image: url('../img/pencil-full/active-4-pencil.svg');
}

.active-5 .comment-icon.full {           
    color: #369FD8;               
    background-image: url('../img/pencil-full/active-5-pencil.svg');
}

.active-6 .comment-icon.full {
    color: #93594b;
    background-image: url('../img/pencil-full/active-6-pencil.svg');
}

.active-7 .comment-icon.full {
    color: #EED11B;
    background-image: url('../img/pencil-full/active-7-pencil.svg');
}

.active-8 .comment-icon.full {
    color: #e64926;
    background-image: url('../img/pencil-full/active-8-pencil.svg');
}

.active-9 .comment-icon.full {
    color: #14A651;
    background-image: url('../img/pencil-full/active-9-pencil.svg');
}

.active-10 .comment-icon.full {
    color: #20A6A5;
    background-image: url('../img/pencil-full/active-10-pencil.svg');
}

.active-11 .comment-icon.full {
    color: #93594B;
    background-image: url('../img/pencil-full/active-11-pencil.svg');
}

.active-12 .comment-icon.full {
    color: #E6A531;
    background-image: url('../img/pencil-full/active-12-pencil.svg');
}

.active-13 .comment-icon.full {
    color: #E54825;
    background-image: url('../img/pencil-full/active-13-pencil.svg');
}

.active-14 .comment-icon.full {
    color: #EB4D5B;
    background-image: url('../img/pencil-full/active-14-pencil.svg');
}

.active-15 .comment-icon.full {
    color: #eed11b;
    background-image: url('../img/pencil-full/active-15-pencil.svg');
}

.active-16 .comment-icon.full {
    color: #e6a531;
    background-image: url('../img/pencil-full/active-16-pencil.svg');
}

.active-17 .comment-icon.full {
    color: #128a4a;
    background-image: url('../img/pencil-full/active-17-pencil.svg');
}

.active-18 .comment-icon.full {
    color: #369fd8;
    background-image: url('../img/pencil-full/active-18-pencil.svg');
}

.active-19 .comment-icon.full {
    color: #20a6a5;
    background-image: url('../img/pencil-full/active-19-pencil.svg');
}

.active-20 .comment-icon.full {
    color: #e64926;
    background-image: url('../img/pencil-full/active-20-pencil.svg');
}

.active-21 .comment-icon.full {
    color: #eed11b;
    background-image: url('../img/pencil-full/active-21-pencil.svg');
}

.active-22 .comment-icon.full {
    color: #e6a531;
    background-image: url('../img/pencil-full/active-22-pencil.svg');
}

.active-23 .comment-icon.full {
    color: #128a4a;
    background-image: url('../img/pencil-full/active-23-pencil.svg');
}

.active-24 .comment-icon.full {
    color: #555f90;
    background-image: url('../img/pencil-full/active-24-pencil.svg');
}

.active-25 .comment-icon.full {
    color: #e64926;
    background-image: url('../img/pencil-full/active-25-pencil.svg');
}

.active-26 .comment-icon.full {
    color: #93594b;
    background-image: url('../img/pencil-full/active-26-pencil.svg');
}

.active-27 .comment-icon.full {
    color: #14a651;
    background-image: url('../img/pencil-full/active-27-pencil.svg');
}

.active-28 .comment-icon.full {
    color: #128a4a ;
    background-image: url('../img/pencil-full/active-28-pencil.svg');
}

.active-29 .comment-icon.full {
    color: #555f90;
    background-image: url('../img/pencil-full/active-29-pencil.svg');
}
.active-30 .comment-icon.full {
    color: #20A6A5;
    background-image: url('../img/pencil-full/active-29-pencil.svg');
}
.active-31 .comment-icon.full {
    color: #be202f;
    background-image: url('../img/pencil-full/active-31-pencil.svg');
}

/*****border color****/

.active-1 .border {
   border-color: #BE202F;
}

.active-2 .border {
    border-color: #555F90;
}

.active-3 .border {
    border-color: #14a651;
}

.active-4 .border {
    border-color: #128a4a;
}

.active-5 .border {
    border-color: #369FD8;
}

.active-6 .border {
    border-color: #93594b;
}

.active-7 .border {
    border-color: #EED11B;
}

.active-8 .border {
    border-color: #e64926;
}

.active-9 .border {
    border-color: #14A651;
}

.active-10 .border {
    border-color: #20A6A5;
}

.active-11 .border {
    border-color: #93594B;
}

.active-12 .border {
    border-color: #E6A531;
}

.active-13 .border {
    border-color: #E54825;
}

.active-14 .border {
    border-color: #EB4D5B;
}

.active-15 .border {
    border-color: #eed11b;
}

.active-16 .border {
    border-color: #e6a531;
}

.active-17 .border {
    border-color: #128a4a;
}

.active-18 .border {
    border-color: #369fd8;
}

.active-19 .border {
    border-color: #20a6a5;
}

.active-20 .border {
    border-color: #e64926;
}

.active-21 .border {
    border-color: #eed11b;
}

.active-22 .border {
    border-color: #e6a531;
}

.active-23 .border {
    border-color: #128a4a;
}

.active-24 .border {
    border-color: #555f90;
}

.active-25 .border {
    border-color: #e64926;
}

.active-26 .border {
    border-color: #93594b;
}

.active-27 .border {
    border-color: #14a651;
}

.active-28 .border {
    border-color: #128a4a ;
}

.active-29 .border {
    border-color: #555f90;
}

.active-30 .border {
    border-color: #20A6A5;
}

.active-31 .border {
    border-color: #12a5a4;
}

/*****arrows******/
.active-1 .pull-right {
    background-image: url('../img/arrow/arrow.svg');
}
