.category-report-wrap {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}


accordion {
    direction: rtl;
}

.pull-right {
    float: left!important;
}

.alert-option .panel-heading {
    background-color: rgba(191,30,46,0.2) !important;
    box-shadow: initial;
}

.alert-icon {
    display: none;
}

.alert-option .alert-icon {
    float: left;
    position: relative;
    display: block;
    width: 4%;
    vertical-align: middle;
    top: 18px;
    /* margin-left: 1%; */
    /* left: 78px; */
    /* top: 0; */
    /* bottom: 0; */
    margin-left: 8px;
}

.isOpen .panel-heading {
    /*box-shadow: 0 13px 10px -10px #C2C3C5,inset -21px 0 15px -9px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 13px 10px -10px #C2C3C5,inset -21px 0 15px -9px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 13px 10px -10px #C2C3C5,inset -21px 0 15px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 13px 10px -10px #C2C3C5,inset -21px 0 15px -9px rgba(0,0,0,0.2);*/
    z-index: 3;
    position: relative;
}

.isOpen .panel-collapse {
    -webkit-box-shadow: inset 0 -13px 10px -10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 -13px 10px -10px rgba(0,0,0,0.2);
    -ms-box-shadow: inset 0 -13px 10px -10px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 -13px 10px -10px rgba(0,0,0,0.2);
    box-shadow: inset 0 -13px 10px -10px rgba(0,0,0,0.2);
    /*padding-bottom: 5px;*/
    max-height: 5000px;
    -webkit-transition: max-height 0.9s ease-in;
    -moz-transition: max-height 0.9s ease-in;
    -ms-transition: max-height 0.9s ease-in;
    transition: max-height 0.9s ease-in;
    -webkit-transform: translate3d(0, 0, 0);
}

.panel-group {
    -webkit-box-shadow: 0px 0px 5px 4px rgba(194,195,197,0.7);
    -moz-box-shadow: 0px 0px 5px 4px rgba(194,195,197,0.7);
    -ms-box-shadow: 0px 0px 5px 4px rgba(194,195,197,0.7);
    -o-box-shadow: 0px 0px 5px 4px rgba(194,195,197,0.7);
    box-shadow: 0px 0px 5px 4px rgba(194,195,197,0.7);
    margin-top: -10px;
    margin-bottom: 0;
}

.alert-icon {
    display: none;
}

.field-wrap {
    position: relative;
}

.field-text, .not-valid-text {
    position: absolute;
      left: 50%;
  right: 39%;
    margin: auto;
    display: inline-block;
    max-width: 50%;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 51%;
    overflow: hidden;
}

.field-text-option {
    position: relative;
     left: 50%;
  right: 39%;
    /* margin: auto; */
    /* display: inline-block; */
    /* max-width: 70%; */
    text-align: initial;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
}

.not-valid-text {
    display: none;
}

.glyphicon-chevron-right:before {
    content: initial;
}

.pull-right {
    background-image: url('../img/arrow/arrow.svg');
    float: left!important;
    width: 2%;
    height: 30px;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
}

.pull-right.glyphicon-chevron-down {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    background-position-y: 100%;
}

.panel-title {
    font-size: 1.5em;
}

.panel-body {
    font-size: 1.5em;
    padding: 0;
}

.panel-heading {
    /*box-shadow: inset -16px 0 15px -9px rgba(0,0,0,0.4);*/
    box-shadow: inset -40px 0 40px -24px rgba(194,195,197,0.7),inset 40px 0 40px -24px rgba(194,195,197,0.7),0px 0px 5px 4px rgba(194,195,197,0.7);
    -webkit-box-shadow: inset -40px 0 40px -24px rgba(194,195,197,0.7),inset 40px 0 40px -24px rgba(194,195,197,0.7),0px 0px 5px 4px rgba(194,195,197,0.7);
    -moz-box-shadow: inset -40px 0 40px -24px rgba(194,195,197,0.7),inset 40px 0 40px -24px rgba(194,195,197,0.7),0px 0px 5px 4px rgba(194,195,197,0.7);
    -ms-box-shadow: inset -40px 0 40px -24px rgba(194,195,197,0.7),inset 40px 0 40px -24px rgba(194,195,197,0.7),0px 0px 5px 4px rgba(194,195,197,0.7);
    background-color: #FFFFFF;
    padding: 2% 3%;
}

.panel-group .panel-heading {
    padding: 0px 5%;
    height: 65px;
}

.panel-group .panel-heading .panel-title {
    line-height: 65px;
}

.panel-group .panel-heading .panel-title .asterisk {
    position: relative;
    top: 7px;
}

.panel-default > .panel-heading {
    background-color: #FFFFFF;
}

.panel-collapse {
    /*height: 0px;*/
    /* max-height: 100px; */
    overflow: hidden;
    /*max-height: 0;*/
    /*-webkit-transition: max-height 2.15s ease-out;
    -moz-transition: max-height 2.15s ease-out;
    -ms-transition: max-height 2.15s ease-out;
    transition: max-height 2.15s ease-out;*/
    -webkit-transform: translate3d(0, 0, 0);
}

.option.selected {
    background-color: #C2C3C5;
}

.option {
    padding: 1% 3%;
    background-color: #F6F6F8;
    position: relative;
    border-bottom: 1px solid #A8A9AD;
}

.option:first-child {
    background-image: url('../img/shadow_big_rot.png') !important;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 7px;
}

.option:last-child {
    border-bottom: none;
    background-image: url('../img/shadow_big.png') !important;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 5px;
}

.panel-group .panel {
    border: 1px solid #ABACAE;
    margin-top: 0;
    border-bottom: none;
}

.panel-group .panel:first-child {
    border-top: none;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.category-btns-wrap {
    position: relative;
    height: 100px;
}
.reportFields-wrap .category-btns-wrap {
    
    height: 200px;
}

.login-wrap .category-btns-wrap {
    height: initial;
}

field-wrap .asterisk {
}

.reportFields-wrap .comment-icon {
    float: left;
    /* border: 0px; */
    height: 30px;
    width: 30px;
    top: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 175%;
    /* bottom: 0; */
    margin-left: 12px;
    position: relative;
    left: initial;
    border-style: solid;
    border-width: 1.5px;
}

.reportFields-wrap .comment-icon.full {
    border: none;
    width: 32px;
    height: 32px;
    background-size: 165%;
}

.reportFields-wrap .pull-right {
    width: 20px;
    height: 14px;
    top: 26px;
}
#loader{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
     min-height: 375px;
     display: none   
}
#loader span {
  width: 100px;
  height: 20px;
  margin: auto;
  display: block;
  color: white;
  font-size: 30px;
  margin-top: 130px;

}