.modal-content {
    border-radius: 5%;
}

.img-x {
    background-image: url(../img/x.png);
}
.generalPopup .img-popup {
    background-image: url(../img/icon-11.png) !important;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 80%;
    height: 76px;
    width: 17%;
    margin: 15px auto 0 auto;
    float: initial;
}

.categoryPopup .img-popup{
    background-repeat: no-repeat;
    background-position:center;
    background-size: 140%;
    height: 76px;
    width: 17%;
    margin: 15px auto 0 auto;
    float: initial;
}

.modal-title {
    font-size: 50px;
    margin: 0 3%;
    text-align: center;
}

.generalPopup .modal-title.fixed {
    color: #bc4326;
}

.modal-header {
    border: none;
    margin: 0;
    background-image: url(../img/x.png);
    background-origin: content-box;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: right top;
}

.modal-body {
    padding: 0 31px;
}

#write {
    width: 100%;
    border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    
    border-top-style: solid;
    border-top-width: 2px;
   
    border-bottom: none;
    vertical-align: top;
    margin-top: 4%;
}

.generalPopup #write.fixed {
    border-color: #bb4226;
}

.modal-footer {
    border: none;
    padding: 0px 5%;
    margin-top: 0;
    margin-top: 0px;
    font-size: 0px;
    margin-bottom: 6%;
}

.btn-primary {
    color: #fff;
    width: 50%;
    box-sizing: border-box;
    border-radius: 0;
    font-size: 27px;
    opacity: 0.74;
    border: none;
}

.generalPopup .btn-primary.fixed {
    background-color: #bc4326 !important;
}

.btn-warning {
    color: #fff;
    width: 50%;
    box-sizing: border-box;
    border-radius: 0;
    font-size: 27px;
    border: none;
      bottom: 0;
  position: relative;
}

.generalPopup .btn-warning.fixed {
    background-color: #bc4326 !important;
}

.modal-footer .btn + .btn {
    margin: 0;
}

.x {
    background-image: url(img/x.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: right top;
    width: 40px;
    height: 40px;
}





