.sumamry-wrap {
    height: 100%;
    overflow-y: auto;
    /*padding-bottom: 80px;*/
}

.sumamry-wrap .category-item {
    height: 100%;
    position: relative;
}

.sumamry-wrap .icon {
    width: 70px;
    height: 70px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-right: 23px;
}

.sumamry-wrap .panel-title {
    height: 100%;
}

.sumamry-wrap .cat-name {
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
    padding-right: 122px;
    position: absolute;
    top: 0;
    bottom: 0;
    /* text-align: center; */
    margin: auto;
    height: 1.2em;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
}

.sumamry-wrap .panel-group {
    -webkit-box-shadow: initial;
}

.sumamry-wrap .panel-group .accordion-parent:nth-child(2) {
    margin-top: 3px;
}

.sumamry-wrap .panel-group .panel {
    border: none;
    background-color: initial;
    margin-top: 3px;
}

.sumamry-wrap .panel-heading {
    background-color: #DFE0E2;
    -webkit-box-shadow: initial;
    height: 111px;
    padding-top: 10px;
    padding: 0;
    padding-top: 0;
    padding-bottom: 5px;
    /* position: relative; */
    /* z-index: 10; */
}

.sumamry-wrap .delimiter {
    background-image: url('../img/shadow_big_rot.png');
    height: 12px;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* margin: auto; */
    background-position: center;
}

.sumamry-wrap .panel-body {
    border: none !important;
    background-color: #F4F5F7;
    padding: 15px 0px;
}

.sumamry-wrap .isOpen .panel-collapse {
    box-shadow: initial;
}

.sumamry-wrap .panel-group .panel-heading + .panel-collapse .panel-body {
    border: none !important;
}
.sumamry-wrap .main-comment{
    font-size: 0.8em;
    margin: 0 45px;
}
.sumamry-wrap .option {
    background-color: initial;
    padding: 10px 20px;
    border: none;
}

.sumamry-wrap .panel {
    box-shadow: initial;
}

.sumamry-wrap .option-wrap {
    border: 2px solid rgba(218,219,221,0.4);
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    line-height: 60px;
    border: 2px solid #e0e0e2;
}
.sumamry-wrap .field-text-option{
    left: 0;
    right: 0;
    margin: auto 25px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}
.sumamry-wrap .sumamry-wrap .field-text-option {
    left: initial;
    right: initial;
    margin-right: 4%;
}

.sumamry-wrap .camera-icon {
    background-image: url('../img/photo2.png');
    width: 45px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-size: 100%;

}

.sumamry-wrap .pull-right {
    width: 23px;
    height: 15px;
    margin: auto;
    top: 0px;
    bottom: 0px;
    position: absolute;
    left: 32px;
    background-size: contain;
    background-image: url('../img/arrow/arrow-black.svg');
}

.button-1 {
    height: 80px;
    margin: 20px;
    background-color: #be1e2d;
      -webkit-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.75);
}

.button-2 {
    height: 80px;
    margin: 20px;
    margin-top: 30px;
    background-color: #499e45;
    -webkit-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.75);
}

.button-3 {
      background-image: url(../img/finish-04.png);
  height: 65px;
  background-repeat: no-repeat;
  width: 50px;
  background-position: 7px 8px;
  background-color: white;
  border-radius: 16px;
  /* margin-bottom: -20px; */
  overflow: hidden;
  box-shadow: 0px 0px 11px 6px rgba(0,0,0,0.4);
  position: fixed;
  bottom: -20px;
  left: 0;
  margin-left: -50px;
  background-size: 35px;
  right: 0;
  margin: auto;
  /* margin-bottom: -20px; */
}

.button-content-1 {
    height: 80px;
    width: 238px;
    margin: auto;
    color: white;
    font-size: 30px;
    line-height: 80px;
    background-image: url(../img/finish-03.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 53px;
}
.sumamry-wrap .button-content-1{
      width: 310px;
}

.button-content-2 {
    height: 80px;
    width: 271px;
    margin: auto;
    color: white;
    font-size: 30px;
    line-height: 80px;
    background-image: url(../img/v.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 53px;
}

/*.option-wrap.alert-option {
    background-color: rgba(191,30,46,0.4) !important;
    box-shadow: initial;
    background-image: url(../img/alert.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 0px;
    background-position-x: 10px;
}*/

.const-data-wrap{
      padding: 0px 45px;
  padding-top: 13px;
}

.const-title{
      width: 139px;
  display: inline-block;
  vertical-align: top;
}
.checkboxes-wrap{
      width: 300px;
  display: inline-block;
  vertical-align: top;
}
.checkbox-item{
    
}
.checkbox{
      display: inline-block;
  vertical-align: top;
}
.checkbox-text{
      display: inline-block;
}