.take-picture-wrap {
    height: 36%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/takePic.jpg');
    position: relative;
    color: #ffffff;
    z-index: 10;
}

/******take-pic********/

.main-pic-take {
    background-image: url('../img/main-take.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    -webkit-box-shadow: inset 0 -13px 10px -10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 -13px 10px -10px rgba(0,0,0,0.2);
    -ms-box-shadow: inset 0 -13px 10px -10px rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 -13px 10px -10px rgba(0,0,0,0.2);
    box-shadow: inset 0 -13px 10px -10px rgba(0,0,0,0.2);
}

.opacity-main-take {
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 3px 6px 2px rgba(194,195,197,0.8);
    -moz-box-shadow: 0 3px 6px 2px rgba(194,195,197,0.8);
    -ms-box-shadow: 0 3px 6px 2px rgba(194,195,197,0.8);
    box-shadow: 0 3px 6px 2px rgba(194,195,197,0.8);
}

.finish-img {
    width: 8%;
    padding: 8px 4px 8px 11px;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #ffffff;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);
    z-index: 10;
}

.main-pic-button-wrapper {
    width: 46%;
    height: 37%;
    margin: auto;
    position: absolute;
    top: 24px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.inner-main-pic {
    display: inline-block;
    width: 37%;
    position: relative;
    text-align: center;
}

.inner-main-pic img {
    width: 100%;
}

.inner-main-pic div {
    color: #ffffff;
    font-size: 1.6em;
    text-shadow: 2px 1px 10px rgba(0,0,0,3);
    font-weight: bold;
    white-space: nowrap;
}

/******************change-pictures*********************/

.smaill-pic-to-change {
    position: absolute;
    height: 47%;
    width: 39%;
    background-image: url('../img/main-take.jpg');
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-size: cover;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #ffffff;
}

.top-pick-take.change-pic {
    /*background-image: url('../img/icon-03.png');*/
    right: 20px;
    text-shadow: 1px 1px 7px rgba(0,0,0,1);
    font-weight: bold;
    right: 2%;
}

.top-pick-take.camera-icon {
    background-image: url('../img/photo2.png');
}

.top-pick-take.gallery-icon {
    background-image: url('../img/photo1.png');
}

.top-pick-wrap{
     position: absolute;
  top: 3px;
  width: 244px;
    right: 15px;
}

.top-pick-take {
      background-size: 100%;
  height: 50px;
  /* position: absolute; */
  /* top: 10px; */
  /* padding-right: 70px; */
  font-size: 1.3em;
  background-repeat: no-repeat;
  background-position: right;
  line-height: 70px;
  display: inline-block;
  width: 50px;
}

.trash-pic {
    background-image: url('../img/icon-10.png');
  left: 15px;
  position: absolute;
  top: 3px;
}
.replace-icon{
    background-image: url('../img/icon-03.png');
}
.icon-text{
     
    font-size: 1.4em;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 6px;
  margin-right: 10px;
}

.input-take-pic {
    display: block;
    position: absolute;
    width: 94%;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 40px;
    bottom: 17px;
    right: 0px;
    margin: auto;
    left: 0px;
    height: 53px;
    line-height: 50px;
    color: #000;
    background-image: url(../img/icon-11.png), url(../img/shadow_big.png);
    background-size: 37px, 100% 20px;
    background-repeat: no-repeat;
    background-position: 99% 7px, 0px 115%;
    text-align: center;
    font-size: 1.4em;
    border: 0;
}


.input-take-pic::-webkit-input-placeholder {
    color: #000;
}

.input-take-pic:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

.input-take-pic::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

.trash-change {
    width: 13%;
    position: absolute;
    top: 6px;
    left: 6px;
}
