.photo-order {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 0px 7px rgba(255,255,255,.35);
    padding-bottom: 25px;
    top: 113px;
    right: 70px;
    border-radius: 3px;
    display: block;
    width: 255px;
    height: 135px;
    z-index: 15;
    padding: 11px;
    /* display: none; */
}

.photo-continue {
    color: #408fb0;
    width: 200px;
    height: 45px;
    position: absolute;
    bottom: 0;
    font-size: 30px;
    font-size: 1.7em;
    left: 7px;
    line-height: 45px;
    cursor: pointer;
    text-indent: -10px;
}

.photoCenter p span {
    display: block;
    text-align: center;
    margin-top: 95px;
    font-size: 85px;
    font-size: 4.2em;
}

.photoCenter p {
    text-align: center;
}

.photoCenter {
    background-color: rgba(122,199,234,.9);
    height: 312px;
    width: 425px;
    position: absolute;
    top: 235px;
    left: 320px;
    color: #fff;
    font-size: 35px;
    font-size: 1.8em;
    /* background-image: url(../img/help.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 5;
    background-position: center;
}

.deleteOrbit {
    border-radius: 100%;
    border-color: #408fb0;
    width: 9px;
    height: 10px;
    position: absolute;
    border: 4px solid #408fb0;
    background-color: white;
    color: #408fb0;
    z-index: 12;
    padding: 4px;
    font-size: 9px;
    font-size: 0.5em;
    padding-right: 6PX;
    font-family: arial;
    font-weight: bold;
    right: -10px;
    top: -10px;
}

#mission-photo .photo {
    background-size: contain;
    background-repeat: no-repeat;
}

.orbit {
    background-size: 190px 157px;
}

.photoUp {
    background-color: rgba(169,226,250,.9);
    left: 375px;
    position: absolute;
    top: 130px;
    color: #fff;
    top: 130px;
    background-position: center;
    /* left: 150px; */
}

.photoLeft {
    background-color: rgba(165,225,250,.9);
    top: 310px;
    left: 150px;
    position: absolute;
    color: #fff;
    top: 310px;
    left: 150px;
    background-position: center;
}

.photoRight {
    background-color: rgba(210,238,249,.9);
    top: 345px;
    left: 712px;
    position: absolute;
    color: #fff;
    top: 345px;
    left: 712px;
    background-position: center;
}

.photoDown {
    background-color: rgba(178,219,236,.9);
    bottom: 80px;
    left: 425px;
    color: #fff;
    top: 510px;
    left: 425px;
    background-position: center;
}

.openImgDialog {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    background-image: url(../img/help.jpg);
    background-size: cover;
}

.img-description {
    background: #fff;
    z-index: 5;
    width: 100%;
    height: 108px;
    bottom: 0px;
    position: absolute;
}

.description-continue, #photo-title-edit .description-continue {
    color: #46c4b4;
    width: 120px;
    height: 45px;
    position: absolute;
    bottom: 29px;
    font-size: 33px;
    font-size: 1.8em;
    left: 40px;
    cursor: pointer;
}

.openImgDialog .arrow, #photo-title-edit .arrow {
    position: absolute;
    /* left: 0; */
    right: 10;
    margin-right: 5%;
    background-image: url("../img/svg/arrow/record-video.svg");
    height: 40px;
    width: 40px;
    background-size: 100% 100%;
}

#img-description {
    height: 33px;
    position: absolute;
    width: 60%;
    margin-right: 20%;
    display: inline-block;
    bottom: 35%;
    right: 0px;
}

div.openImgDialog > div > span {
    position: relative;
    line-height: normal;
    margin: 0px 5% 0px 0px;
    top: 35%;
    text-align: right;
    color: #46c4b4;
    font-size: 20px;
    font-weight: bold;
}

@media all and (max-width: 600px) {


    #mission-photo {
        overflow: auto;
    }

    #mainPhoto {
        position: relative;
        left: 0px;
        top: 0px;
        margin: 90px auto 30px auto;
        width: 280px;
        height: 215px;
    }

    #mission-photo .orbit.photo {
        position: relative;
        display: block;
        margin: 0px auto 14px auto;
        top: 0px;
        left: 0px;
        width: 230px;
        height: 190px;
    }

    #mission-photo .orbit.photo.photoUp {
    }

    #mission-photo .orbit.photo.photoDown {
    }

    #mission-photo .orbit.photo.photoLeft {
    }

    #mission-photo .orbit.photo.photoRight {
    }

    .photoCenter p {
        display: block;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        height: 120px;
    }

    .photoCenter p span {
        margin: 0px;
    }

    .photoCenter p span {
        margin: 0px;
    }

    .photoUp p span {
        display: block;
        text-align: center;
        padding-top: 75px;
        font-size: 85px;
        font-size: 4.2em;
    }

    .photoDown p span {
        display: block;
        text-align: center;
        padding-top: 75px;
        font-size: 85px;
        font-size: 4.2em;
    }

    .photoRight p span {
        display: block;
        text-align: center;
        padding-top: 75px;
        font-size: 85px;
        font-size: 4.2em;
    }

    .photoLeft p span {
        display: block;
        text-align: center;
        padding-top: 75px;
        font-size: 85px;
        font-size: 4.2em;
    }

    .openImgDialog {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        top: 0px;
        background-color: rgba(178,219,236,.9);
        background-position: center;
    }

    .img-description {
        height: 80px;
        width: 100%;
        margin: auto;
        left: 0px;
        right: 0px;
    }

    div.openImgDialog > div > span {
        position: relative;
        line-height: normal;
        margin: 0px 10px 0px 0px;
        text-align: right;
        color: #46c4b4;
        font-size: 20px;
        font-weight: bold;
        top: 5px;
    }

    #img-description {
        position: absolute;
        /* display: block; */
        width: 60%;
        margin-right: 10px;
        bottom: 12px;
        display: inline-block;
        /* bottom: 12px; */
        right: 0px;
    }

    .description-continue {
        position: absolute;
        left: 10px;
        width: 30%;
        height: 40px;
        line-height: 40px;
        font-size: 23px;
        bottom: 12px;
        display: inline-block;
    }
}
