/********replace colors and icons according to mission***********/

/********replace colors and icons according to mission***********/

body {   
    background: rgb(255,255,255); /* Old browsers */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(188,227,244,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(188,227,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(188,227,244,1) 100%); /* W3C */   
}

#small-left-logo {
    position: fixed;
    top: 30px;
    left: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    background-image: url('../img/LogoScreen.png');
    border-radius: 30px;
    z-index: 200;
}

/*****navigation**************************************************************/

.navigation .mission-menu-center {
    background-color: rgba(234,92,178,0.75);
}

.navigation .mission-menu-left {
    background-color: rgba(253,190,233,0.8);
}

.navigation .popup, .navigation .item-number {
    color: #e21d91;
}

.navigation .mission-icon {
    background-color: #e21d91;
}

#popup.navigation .mission-icon {
    background-image: url("../img/navigation.png");
}

/*mission-popup*/

.navigation .mission-popup-timer {
    background-color: #f1c7e3;
}

.navigation .mission-popup-scoring {
    background-color: #f6e2ef;
}

.navigation .mission-popup-continue .arrow {
    background-image: url("../img/svg/arrow/navigation.svg");
}

/*message bottom*/

.navigation .mission-deatails-timer {
    background-color: #f1c7e3;
}

.navigation .mission-deatails-timer span.clock {
    background-image: url("../img/svg/clock/navigation.svg");
}

/*mission-repeat*/

.navigation .mission-repeat-popup .close{
    background-image: url("../img/svg/x/navigation.svg");
}

/*****takePhoto******************************************************************************************/

.takePhoto .mission-menu-center {
    background-color: rgba(109,194,232,0.9);
}

.takePhoto .mission-menu-left {
    background-color: rgba(165,225,250,0.96);
}

.takePhoto .mission-menu-top {
    background-color: rgba(167,226,250,0.9);
}

.takePhoto .mission-menu-right {
    background-color: rgba(210,238,249,0.9);
}

.takePhoto .mission-menu-bottom {
    background-color: rgba(178,219,236,0.9);
}

.takePhoto .popup .pink, .takePhoto .item-number {
    color: #e21d91;
}

.takePhoto .popup, .takePhoto .item-number {
    color: #408fb0;
}

.takePhoto .mission-icon {
    background-color: #408fb0;
}

.takePhoto .openImgDialog {
    background-color: rgba(178,219,236,.9);
}

#popup.takePhoto .mission-icon {
    background-image: url("../img/takePhoto.png");
}

/*mission-popup*/

.takePhoto .mission-popup-timer {
    background-color: #bee8f9;
}

.takePhoto .mission-popup-scoring {
    background-color: #e6f4fa;
}

.takePhoto .mission-popup-continue .arrow {
    background-image: url("../img/svg/arrow/takePhoto.svg");
}

/*message bottom*/

.takePhoto .mission-deatails-timer {
    background-color: #bee8f9;
}

.takePhoto .mission-deatails-timer span.clock {
    background-image: url("../img/svg/clock/takePhoto.svg");
}

/*mission-repeat*/

.takePhoto .mission-repeat-popup .close{
    background-image: url("../img/svg/x/takePhoto.svg");
}

/*****takePhoto-negative**************************************************************/
.red .photo-order h2,.red .photo-continue{
	color: #e46051;
}
.red .photo-continue .arrow {
	background-image: url(../img/svg/arrow/takePhoto-negative.svg);
}
.takePhoto.red .mission-menu-center ,.red .photoCenter{
    background-color: rgba(238,145,135,0.9);
}

.takePhoto.red .mission-menu-left,.red .photoLeft {
    background-color: rgba(250,163,153,0.96);
}

.takePhoto.red .mission-menu-top ,.red .photoUp{
    background-color: rgba(251,196,192,0.9);
}

.takePhoto.red .mission-menu-right,.red .photoRight {
    background-color: rgba(249,203,198,0.9);
}

.takePhoto.red .mission-menu-bottom,.red .photoDown {
    background-color: rgba(251,227,224,0.9);
}
.takePhoto.red .mission-popup-timer {
    background-color: rgba(251,227,224,0.9);
}
.takePhoto.red .mission-popup-scoring{
	 background-color: rgba(251,227,224,0.45);
}
.takePhoto.red .popup, .takePhoto.red .item-number {
    color: #e46051;
}
.takePhoto.red .item-number { /*.takePhoto .popup,*/
    color: #e46051;
}
.takePhoto.red .mission-deatails-timer span.clock {
background-image: url("../img/svg/clock/takePhoto-negative.svg");
}

#mission-container .takePhoto.red .mission-icon {
    background-color: #e46051;
}

.takePhoto.red .mission-deatails-timer {
background-color: rgba(251,227,224,0.9);
}
#popup.takePhoto.red .mission-icon {
    background-color: #e46051;
background-image: url("../img/takePhoto.png");
}
.takePhoto.red #timer{
	color: #e46051;
}
.takePhoto.red .mission-popup-continue .arrow {
	background-image: url("../img/svg/arrow/takePhoto-negative.svg");
}

/*****capture video************************************************************/

.takeVideo .mission-menu-center {
    background-color: rgba(101,225,209,0.9);
}

 .takeVideo .popup,.takeVideo .item-number {
    color: #46c4b4;
}

.takeVideo .mission-icon {
    background-color: #46c4b4;
}

#popup.takeVideo .mission-icon {
    background-image: url("../img/takeVideo.png");
}
/*mission-popup*/

.takeVideo .mission-popup-timer {
    background-color: rgba(101,225,209,0.45);
}

.takeVideo .mission-popup-scoring {
    background-color: rgba(101,225,209,0.28);
}

.takeVideo .mission-popup-continue .arrow {
    background-image: url("../img/svg/arrow/takeVideo.svg");
}

/*mission bottom*/

.takeVideo .mission-deatails-timer {
    background-color: rgba(147,238,236,1);
}

.takeVideo .mission-deatails-timer span.clock {
    background-image: url( ../img/svg/clock/takeVideo.svg);
}


/*mission-repeat*/

.takeVideo .mission-repeat-popup .close{
    background-image: url("../img/svg/x/takeVideo.svg");
}

/*****watch video******************************************************************************/
.watchVideo .mission-menu-center {
    background-color: rgba(169,133,230,0.8);
}

.watchVideo .mission-menu-top {
    background-color: rgba(232,219,253,0.64);
}

.watchVideo .popup, .watchVideo .item-number {
    color: #a985e6;
}

.watchVideo .mission-icon {
    background-color: #a985e6;
}

#popup.watchVideo .mission-icon {
    background-image: url("../img/watchVideo.png");
}
/*mission-popup*/

.watchVideo .mission-popup-timer {
    background-color: #e8dbfd;
}

.watchVideo .mission-popup-scoring {
    background-color: #f5f1fb;
}

.watchVideo .mission-popup-continue .arrow {
    background-image: url("../img/svg/arrow/watchVideo.svg");
}

/*mission bottom*/

.watchVideo .mission-deatails-timer {
    background-color: #e7d6fd;
}

.watchVideo .mission-deatails-timer span.clock {
    background-image: url("../img/svg/clock/watchVideo.svg");
}


/*mission-repeat*/

.watchVideo .mission-repeat-popup .close{
    background-image: url("../img/svg/x/watchVideo.svg");
}

/*******************multiQuestion******************************************************/
.multiQuestion .mission-menu-center {
    background-color: rgba(255,153,0,0.8);
}

.multiQuestion .popup, .multiQuestion .item-number {
    color: #ff9900;
}

.multiQuestion .mission-icon {
    background-color: #ff9900;
}
#popup.multiQuestion .mission-icon {
    background-image: url("../img/multiQuestion.png");
}

/*mission-popup*/

.multiQuestion .mission-popup-timer {
    background-color: #FCE5C4;
}

.multiQuestion .mission-popup-scoring {
    background-color: #FBF3E6;
}
.message-text-popup h2,.message-text-popup .permission.messageText {
	color:#ff9900;
}
.message-text-popup .arrow{
	    background-image: url("../img/svg/arrow/multiQuestion.svg");
}
.multiQuestion .mission-popup-continue .arrow {
    background-image: url("../img/svg/arrow/multiQuestion.svg");
}

/*mission bottom*/

.multiQuestion .mission-deatails-timer {
    background-color: #FCE5C4;
}

.multiQuestion .mission-deatails-timer span.clock {
    background-image: url("../img/svg/clock/multiQuestion.svg");
}

/*mission-repeat*/

.multiQuestion .mission-repeat-popup .close{
    background-image: url("../img/svg/x/multiQuestion.svg");
}

/*****medicine-basket********/

.medicine-basket .mission-menu-center {
    background-color: rgba(153,183,37,0.8);
}

.medicine-basket .mission-menu-left {
    background-color: rgba(237,242,130,0.64);
}

.medicine-basket .popup, .medicine-basket .item-number {
    color: #b5dc2d;
}

.medicine-basket .mission-icon {
    background-color: #b5dc2d;
}

#popup.medicine-basket .mission-icon {
    background-image: url("../img/medicine-basket.png");
}

/*mission-popup*/

.medicine-basket .mission-popup-timer {
    background-color: #EDFABE;
}

.medicine-basket .mission-popup-scoring {
    background-color: #F6FBE3;
}

.medicine-basket .mission-popup-continue .arrow {
    background-image: url("../img/svg/arrow/medicine-basket.svg");
}

/*mission bottom*/
.medicine-basket .mission-deatails-timer {
    background-color: #EDFABE;
}
/*fcf2c6*/
.medicine-basket .mission-deatails-timer span.clock {
    background-image: url("../img/svg/clock/medicine-basket.svg");
}

/*mission-repeat*/

.medicine-basket .mission-repeat-popup .close{
    background-image: url("../img/svg/x/medicine-basket.svg");
}

/*****openQuestion********************************************************************/
.openQuestion .mission-menu-center,.read-text .mission-menu-center {
    background-color: rgba(248,223,104,0.8);
}


.openQuestion .popup, .openQuestion .item-number, #mission-text .permission.claim,.read-text .popup, .read-text .item-number, #read-text .permission.claim{
    color: #ffd200;
}

#mission-text.video-mission-text .permission.claim{
    color: #a985e6;
}

.openQuestion .mission-icon,.read-text .mission-icon {
    background-color: #ffd200;
}

#popup.openQuestion .mission-icon,#popup.read-text .mission-icon {
    background-image: url("../img/openQuestion.png");
}
/*mission-popup*/

.openQuestion .mission-popup-timer,.read-text .mission-popup-timer {
    background-color: #FCF2C6;
}

.openQuestion .mission-popup-scoring,.read-text .mission-popup-scoring {
    background-color: #FFFBE7;
}

.openQuestion .mission-popup-continue .arrow, #mission-text .arrow ,.read-text .mission-popup-continue .arrow , #read-text .arrow {
    background-image: url("../img/svg/arrow/openQuestion.svg");
}
#mission-text.video-mission-text .arrow{
    background-image: url("../img/svg/arrow/watchVideo.svg");
}

/*mission bottom*/
.openQuestion .mission-deatails-timer,.read-text .mission-deatails-timer {
    background-color: #fcf2c6;
}

.openQuestion .mission-deatails-timer span.clock,.read-text .mission-deatails-timer span.clock {
    background-image: url("../img/svg/clock/openQuestion.svg");
}

/*mission-repeat*/

.openQuestion .mission-repeat-popup .close,.read-text .mission-repeat-popup .close{
    background-image: url("../img/svg/x/openQuestion.svg");
}

/*****takePhoto - yellow ******************************************************************************************/
.yellow .photo-order h2,.yellow .photo-continue{
	color: #ffcc00;
}
.yellow .photo-continue .arrow {
	background-image: url(../img/svg/arrow/takePhoto-yellow.svg);
}

.takePhoto.yellow .mission-menu-center ,.yellow .photoCenter{
    background-color: rgba(250,225,125,0.9);
}
.takePhoto.yellow .mission-icon {
background-color: #ffcc00;
}
.takePhoto.yellow .mission-menu-left,.yellow .photoLeft {
    background-color: rgba(249,237,189,0.96);
}

.takePhoto.yellow .mission-menu-top ,.yellow .photoUp{
    background-color: rgba(249,238,192,0.9);
}

.takePhoto.yellow .mission-menu-right,.yellow .photoRight {
    background-color: rgba(249,238,192,0.9);
}

.takePhoto.yellow .mission-menu-bottom,.yellow .photoDown {
    background-color: rgba(250,242,203,0.9);
}

.takePhoto.yellow .mission-deatails-timer span.clock {
background-image: url("../img/svg/clock/takePhoto-yellow.svg");
}
.takePhoto.yellow .item-number { /*.takePhoto .popup,*/
    color: #ffcc00;
}

#mission-yellow .takePhoto.red .mission-icon {
    background-color: #ffcc00;
    background-image: url("../img/takePhoto.png");
}
.takePhoto.yellow .mission-deatails-timer {
background-color: rgba(249,237,189,0.96);
}
.takePhoto.yellow #timer{
	color: #ffcc00;
}
/*mission-popup*/

.takePhoto.yellow .mission-popup-timer {
    background-color: #f9edbd;
}
.takePhoto.yellow .mission-popup-header{
   color: #ffcc00;
}
.takePhoto.yellow .popup, .takePhoto.yellow .item-number {
    color: #ffcc00;
}


.takePhoto.yellow .mission-popup-scoring {
    background-color: rgba(249,237,189,0.46);
}

.takePhoto.yellow .mission-popup-continue .arrow {
    background-image: url("../img/svg/arrow/takePhoto-yellow.svg");
}

/*message bottom*/

.takePhoto .mission-deatails-timer {
    background-color: #bee8f9;
}

.takePhoto .mission-deatails-timer span.clock {
    background-image: url("../img/svg/clock/takePhoto.svg");
}

/*mission-repeat*/

.takePhoto.yellow .mission-repeat-popup .close{
    background-image: url("../img/svg/x/takePhoto-yellow.svg");
}

.takePhoto.red .mission-repeat-popup .close{
    background-image: url("../img/svg/x/feelings.svg");
}
/*****takePhoto -pink******************************************************************************************/
.pink .photo-order h2,.pink .photo-continue{
	color: #e21d91;
}
.pink .photo-continue .arrow {
	background-image: url(../img/svg/arrow/takePhoto-pink.svg);
}
.takePhoto.pink .mission-menu-center ,.pink .photoCenter{
    background-color: rgba(236,126,191,0.9);
}
.takePhoto.pink .mission-icon {
background-color: #e21d91;
}
.takePhoto.pink .mission-menu-left,.pink .photoLeft {
    background-color: rgba(246,187,224,0.96);
}

.takePhoto.pink .mission-menu-top ,.pink .photoUp{
    background-color: rgba(246,189,225,0.9);
}

.takePhoto.pink .mission-menu-right,.pink .photoRight {
    background-color: rgba(244,189,225,0.9);
}

.takePhoto.pink .mission-menu-bottom,.pink .photoDown {
    background-color: rgba(246,189,225,0.9);
}

.takePhoto.pink .mission-deatails-timer span.clock {
background-image: url("../img/svg/clock/takePhoto-pink.svg");
}
.takePhoto.pink .item-number { /*.takePhoto .popup,*/
    color: #e21d91;
}

#mission-pink .takePhoto.red .mission-icon {
    background-color: #e21d91;
    background-image: url("../img/takePhoto.png");
}
.takePhoto.pink .mission-deatails-timer {
background-color: rgba(246,189,225,0.9);
}
.takePhoto.pink #timer{
	color: #e21d91;
}
.takePhoto.pink .mission-popup-header{
   color: #e21d91;
}
.takePhoto.pink .mission-popup-timer {
    background-color: rgba(246,189,225,0.9);
}
.takePhoto.pink .mission-popup-scoring{
	 background-color: rgba(246,189,225,0.45);
}
.takePhotopink .popup, .takePhoto.pink .item-number, .takePhoto.pink .mission-popup-header, .takePhoto.pink .mission-popup-continue {
    color: #e21d91;
}

.takePhoto.pink .mission-repeat-popup .close{
    background-image: url("../img/svg/x/takePhoto-pink.svg");
}

.takePhoto.pink .popup, .takePhoto.pink .item-number {
    color: #e21d91;
}
.takePhoto.pink .mission-popup-continue .arrow{
    background-image: url("../img/svg/arrow/takePhoto-pink.svg");
}

/*mission-popup*/

.takePhoto .mission-popup-timer {
    background-color: #bee8f9;
}

.takePhoto .mission-popup-scoring {
    background-color: #e6f4fa;
}

.takePhoto.pink .mission-popup-continue .arrow {
    background-image: url("../img/svg/arrow/takePhoto-pink.svg");
}

/*message bottom*/

.takePhoto .mission-deatails-timer {
    background-color: #bee8f9;
}

.takePhoto .mission-deatails-timer span.clock {
    background-image: url("../img/svg/clock/takePhoto.svg");
}

/*mission-repeat*/

/*.takePhoto .mission-repeat-popup .close{
    background-image: url("../img/svg/x/takePhoto.svg");
}*/

/*not enough people*/
#popup .message-text-popup.popup .textMessage h2
{
    color:  #408fb0;
}
/********/
.openQuestion .mission-menu-center {
    background-size: 87% 100%;
    background-position: center center;
}

/*****last-mission********************************************************************/
.last-mission .mission-menu-center {
    background-color: rgba(248,223,104,0.8);
}


.last-mission .popup, .last-mission .item-number, #last-mission .permission.claim{
    color: #ffd200;
}

.last-mission .mission-icon {
    background-color: #ffd200;
}

#popup.last-mission .mission-icon {
    background-image: url("../img/openQuestion.png");
}
/*mission-popup*/

.last-mission .mission-popup-timer {
    background-color: #FCF2C6;
}

.last-mission .mission-popup-scoring {
    background-color: #FFFBE7;
}

.last-mission .mission-popup-continue .arrow, #last-mission .arrow,#last-mission2 .arrow  {
    background-image: url("../img/svg/arrow/text.svg");
}
#last-mission.video-mission-text .arrow{
    background-image: url("../img/svg/arrow/watchVideo.svg");
}

/*mission bottom*/
.last-mission .mission-deatails-timer{
    background-color: #fcf2c6;
}

.last-mission .mission-deatails-timer span.clock {
    background-image: url("../img/svg/clock/text.svg");
}

/*mission-repeat*/

.last-mission .mission-repeat-popup .close{
    background-image: url("../img/svg/x/text.svg");
}


/*****capture video************************************************************/

.qrCode .mission-menu-center {
    background-color: rgba(101,225,209,0.9);
}

 .qrCode .popup,.qrCode .item-number {
    color: #46c4b4;
}

.qrCode .mission-icon {
    background-color: #46c4b4;
}

#popup.qrCode .mission-icon {
    background-image: url("../img/qrCode.png");
}
/*mission-popup*/

.qrCode .mission-popup-timer {
    background-color: rgba(101,225,209,0.45);
}

.qrCode .mission-popup-scoring {
    background-color: rgba(101,225,209,0.28);
}

.qrCode .mission-popup-continue .arrow {
    background-image: url("../img/svg/arrow/qrCode.svg");
}

/*mission bottom*/

.qrCode .mission-deatails-timer {
    background-color: rgba(147,238,236,1);
}

.qrCode .mission-deatails-timer span.clock {
    background-image: url( ../img/svg/clock/qrCode.svg);
}


/*mission-repeat*/

.qrCode .mission-repeat-popup .close{
    background-image: url("../img/svg/x/qrCode.svg");
}

/*****scala video************************************************************/

.scala .mission-menu-center {
    background-color: rgba(101,225,209,0.9);
}

 .scala .popup,.scala .item-number {
    color: #46c4b4;
}

.scala .mission-icon {
    background-color: #46c4b4;
}

#popup.scala .mission-icon {
    background-image: url("../img/scala.png");
}
/*mission-popup*/

.scala .mission-popup-timer {
    background-color: rgba(101,225,209,0.45);
}

.scala .mission-popup-scoring {
    background-color: rgba(101,225,209,0.28);
}

.scala .mission-popup-continue .arrow {
    background-image: url("../img/svg/arrow/scala.svg");
}

/*mission bottom*/

.scala .mission-deatails-timer {
    background-color: rgba(147,238,236,1);
}

.qrCode .mission-deatails-timer span.clock {
    background-image: url( ../img/svg/clock/scala.svg);
}


/*mission-repeat*/

.scala .mission-repeat-popup .close{
    background-image: url("../img/svg/x/scala.svg");
}