.info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
     background-color: #fff;
}

.info-header {
    width: 100%;
    height: 30%;
    background-color: #83ceeb;
    background-image: url(../img/odtech_info_logos.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center bottom;
    position: relative;
    max-height: 230px;
}

.info-text {
    background-color: #fff;
    height: 57%;
    padding: 60px;
    padding-top: 0px;
    /* text-align: center; */
    text-align: justify;
    padding-bottom: 0px;
    text-justify: inter-word;
    line-height: 1.1em;
    font-size: 1.5em;
    white-space: pre-line;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.info-container .mission-popup-continue {
    left: 0;
    right: 0;
    float: initial;
    position: relative;
    bottom: initial;
    margin: auto;
    width: 131px;
}

.enter-app {
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 30%;
    color: #83ceeb;
}

.enter-app .arrow {
    background-image: url("../img/svg/arrow/info.svg");
}

@media all and (max-width: 670px) {
    .info-container {
        height: 100%;
        width: 100%;
        position: absolute;
        overflow: auto;
        /* position: relative; */
        /* padding-bottom: 50px; */
        box-sizing: border-box;
        background-color: white;
    }

    .info-header {
        background-image: url(../img/vertical_info.png);
        background-size: auto;
        min-height: 170px;
        max-height: 200px;
    }

    .info-text {
        background-color: #fff;
        height: 70%;
        padding: 30px;
        padding-top: 0px;
        /* text-align: center; */
        text-align: justify;
        padding-bottom: 0px;
        text-justify: inter-word;
        line-height: 1.1em;
        font-size: 1.5em;
        white-space: pre-line;
        height: auto;
    }

    .enter-app {
        right: 0;
        left: 0;
        margin: auto;
        display: block;
        width: initial;
        color: #83ceeb;
        position: relative;
    }
    /*.enter-app {
       
        background-image: url("../img/svg/arrow/info.svg");
        background-repeat: no-repeat;
        background-size: 20px;
        background-position-y: bottom;
       
        margin-top: 20px;
    }*/
}
