.next-main-content {
    width: 70%;
    left: 0;
    right: 0;
}
.mission-write-text .permission.claim{
      bottom: 10%;
}



@media (max-height: 736px) and (max-width: 736px) {
   
.next-main-content{
     width: 100%;

}
}

