/*#mission-quiz .answer .answer-number{
     color: #fff;
    display: inline-block;
    width: 25%;
    height: 100%;
    font-size: 50px;
    font-size: 2.5em;
    line-height: 1em;
    background: #fce5c4;
    text-align: center;
    vertical-align: middle;
}
#mission-quiz .answer .answer-content
{
      width: 75%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}*/

/*.blur{
    width: 100%;
    height: 100%;
}*/

.next-answer-slide {
  white-space: nowrap;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  width: 100%;
  padding-top: 20px;
  top: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.next-answer-slide .next-main-content {
  height: 100%;
  display: inline-block;
  left: initial;
  right: initial;
  position: initial;
  white-space: nowrap;
}

.next-answer-slide .next-main-content {
  padding-top: 0;
}

.number {
  font-size: 2.5em;
}

#mission-quiz .next-answer-slide .answer {
  bottom: 23px;
  position: absolute;
  /* font-size: 1.5em; */
  /* color: white; */
  /* box-shadow: initial; */
  text-align: right;
  /* width: auto; */
  /* min-width: 200px; */
  left: 0;
  right: 0;
  /* width: 100%; */
  padding: 0px 20px;
  /* margin: 0px 20px; */
  /* box-sizing: border-box; */
  /* width: 100px; */
  /* margin: auto; */
  /* background-color: #ff9900; */
  overflow-y: auto;
  /* overflow-x: auto; */
  /* overflow-wrap: break-word; */
  /* white-space: normal; */
  /* display: none; */
  font-size: 26px;
}

#mission-quiz .answer-wrap {
  height: 84px;
}

#mission-quiz .opacity-mask {
  position: fixed;
}

.next-question {
  position: absolute;
  top: 0;
  padding-top: 85px;
  padding-bottom: 133px;
  height: 100%;
  box-sizing: border-box;
  /* overflow-y: scroll; */
  width: 100%;
  white-space: initial;
  overflow-x: hidden;
  padding-left: 10px;
}

.next-question-scroll {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  font-size: 1.5em;
}

.next-answer-slide .next-content {
  padding: 20px;
}

.next-answer-slide .next-question {
  padding-left: 29px;
}

#mission-quiz .next-answer-slide .answer span {
  width: auto;
  padding: 15px 15px;
  font-size: 1.5em;
  float: right;
  /*margin-right: 20px;*/
  height: 84px;
  box-sizing: border-box;
  display: none;
}

#mission-quiz .next-answer-slide .answer div {
  /* overflow-y: auto;*/
}

#mission-quiz .answer-wrap div {
  padding: 10px;
  box-sizing: border-box;
  height: initial;
  text-align: center;
  overflow-y: auto;
  width: 100%;
}

#mission-quiz .next-content {
  overflow-y: auto;
  overflow-x: hidden;
}

#mission-quiz .next-answer-slide .answer p {
  padding: 22px 0px;
  height: 40px;
  float: right;
  /* overflow: hidden; */
  overflow-y: auto;
  white-space: normal;
}

.next-answer-slide-wrap {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}
#mission-quiz .message-text-popup .textMessage p {
  overflow: hidden;
  white-space: normal;
  overflow-y: auto;
}

@media all and (max-width: 670px) {
  #mission-quiz .question {
    display: block;
    margin: auto;
    margin-top: 10px;
    /* margin-bottom: 44px; */
    min-width: 80%;
    min-height: 73px;
    background-color: #fff;
    padding: 30px;
    text-align: center;
  }

  #answers-wrapper {
    display: block;
    margin: auto;
  }

  #mission-quiz .question p {
    width: auto;
    padding: 0;
  }

  #answers-wrapper {
    width: 90%;
    padding-bottom: 20px;
  }

  .message-text-popup .textMessage p {
    font-size: 2.7em;
  }

  .next-answer-slide-wrap {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: initial;
  }

  .number {
    font-size: 2em;
  }

  .next-answer-slide .next-question {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    display: block;
    margin-top: 10px;
  }

  #mission-quiz .next-answer-slide .answer {
    min-height: 50px;
    overflow-y: auto;
    font-size: 1.2em;
    bottom: 0px;
    position: relative;
    width: 100%;
    margin-top: 10px;
  }

  #mission-quiz .next-answer-slide .answer-wrap {
    height: auto;
    position: relative;
  }

  #mission-quiz .next-answer-slide .answer span {
    height: 100%;
    padding: 10px;
    /*padding-bottom: 0;*/
    display: inline-block;
    position: absolute;
  }

  #mission-quiz .next-answer-slide .answer .answer-wrap div {
    display: inline-block;
    padding: 13px 59px 10px 10px;
  }

  #mission-quiz .next-answer-slide .answer .answer-wrap {
    min-height: 50px;
  }

  #mission-quiz .next-answer-slide .answer p {
    font-size: 0.8em;
    width: 63%;
    padding: 10px 0px;
    /* padding-top: 3px; */
    height: 30px;
    overflow-y: auto;
    height: 30px;
    /*height: 43px;
  padding: 10px;
  padding-bottom: 0;
  display: inline-block;
  line-height: 1em;
  line-height: 0.9em;
  overflow: scroll;*/
  }

  .next-answer-slide .next-main-content {
    position: relative;
    height: auto;
    display: inline-block;
    padding-bottom: 20px;
  }

  .next-question-scroll {
    font-size: 1em;
  }
}
